

<h1 class="text-white-50 mx-auto mt-2 mb-5">Confirm Information Form</h1>

<%= form_with url: "/users/#{@user.id}", local: true, method: :patch do |form| %>
  <p><%= form.label :first_name, "First name:" %>
  <%= form.text_field :first_name, value: @first_name%>
  <%= form.label :last_name, "Last name:" %>
  <%= form.text_field :last_name, value: @last_name %>
  <%= form.label :email, "Email:" %>
  <%= form.text_field :email, value: @email, readonly: true %> </p>
  <%= form.hidden_field :plan_table, value: true %>
  <%= form.hidden_field :prep_kit_table, value: true %>
  <%= form.hidden_field :records_table, value: true %>
  <%= hidden_field_tag "car_table", false %>
  <%= check_box_tag "car_table", checked: true %>
  <%= form.label :car %>
  <%= hidden_field_tag "house_table", false%>
  <%= check_box_tag "house_table", checked: true %>
  <%= form.label :house %>
  <%= hidden_field_tag "pets_table", false %>
  <%= check_box_tag "pets_table", checked: true %>
  <%= form.label :pets %>
  <%= hidden_field_tag "kids_table", false %>
  <%= check_box_tag "kids_table", checked: true %>
  <%= form.label :kids %>
  <%= form.submit "Submit"%>
<%end %>